## Check Nginx
define command {
    command_name    handler_restart_platform 
    command_line    ssh -i /home/shinken/.ssh/google_compute_engine $HOSTADDRESS$ -C 'cd /home/admincu/cloudunit/cu-platform && ./restart-platform.sh' >> /var/log/shinken/handler.log
}

